body {

	background-color: #aeaeae;
	font-family: 'Montserrat';
	font-size: 20px;
	color: White;
	margin-left: 0px;
	margin-right: 0px;

}

h1 {

	font-size: 36px;
	color: Maroon;

}

a {

	color: Black;

}

li {
	
	margin-bottom: 2%;
	
}

div {
	
	width: 80%;
	background-color: Teal;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: -2.5%;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
	
}

img {
	
	width: 33%;
	height: auto;
	float: left;

}

div.return {
	
	position: absolute;
	margin: 0px;
	margin-top: 0px;
	width: auto;
	top: 1%;
	left: 1%;
	background-color: White;
	
}

div.returnbot {
	
	position: absolute;
	margin: 0px;
	margin-top: 0px;
	width: auto;
	bottom: 1%;
	left: 1%;
	background-color: White;
	
}

mark {
	
	background-color: Maroon;
	
}