@font-face {
	font-family: "Cooper Black";
	src: url("/fonts/cooperblack.ttf");
}

div#header {
	background-color: #0f824a;

	text-align: center;
	padding: 100px 0;
	width: 100%;
	font-size: 52px;
	font-family: "Cooper Black";
	margin-bottom: 0px;
}

body {
	background-color: darkgrey;	

	font-family: "Times New Roman";
}

div {
	margin: auto;
	margin-top: 0px;
	background-color: lightgrey;

	padding: 10px;
	width: 82vw;
}

div.button-container {

	text-align: center;
	background-color: transparent;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #0f824a;
	color: #ffff;
	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 10px;
	border: 1px solid #000000;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: #f90303;
	color: #ffff;
	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 10px;
	border: 1px solid #000000;
}

