@font-face {
	font-family: "Cooper Black";
	src: url("/fonts/cooperblack.ttf");
}

@font-face {
	font-family: "FreePixel";
	src: url("fonts/freepixel.ttf")
}

div#header {
	background-color: #0f824a;

	text-align: center;
	padding: 50px 0;
	width: 75vw;
	font-size: 52px;
	font-family: "FreePixel";
	margin-top: 0px;
	margin-bottom: 10px;
}

body {
	background: url('/images/frax-bg.png') repeat 0 0;
	font-family: "FreePixel";
	color: white;
	padding: 0;
}

div {
	margin: auto;
	margin-top: 10px;
	background-color: none;

	border-bottom: 2px solid black;
	padding: 10px;
	width: 75vw;
}

div.main {
	margin: auto;
	margin-top: 10px;
	background-color: #0E191A;

	border-top: 24px solid;
	border-image: linear-gradient(to right, #FAED00, #8100ff) 1 0 0 0;
/*	border-left: 2px solid black;*/

	padding: 10px;
	width: 75vw;
}

div.button-container {

	text-align: center;
	background-color: transparent;
}

img.fullsize {
	display: block;
	width: 95%;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #0f824a;
	color: #ffff;
	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 10px;
	border: 1px solid #000000;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: #f90303;
	color: #ffff;
	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 10px;
	border: 1px solid #000000;
}

